<!-- view form -->
<%- include('templates/header') %>
<%- include('templates/main') %>
<div id="content" class="p-4 p-md-5 pt-5" style="margin-left: 70px; background-color: #E5E5E5;">
    <p>Cars > List Cars> <%= title%> </p>
    <div class="d-flex justify-content-between">
        <h2 class="mb-4"><%= title %> </h2>
    </div>
    <%- include('templates/form') %>
    
</div>

</div>
    <%- include('templates/scripts-form.ejs') %>
    <%- include('templates/footer') %>
