<!-- view table -->
<%- include('templates/header') %>
<%- include('templates/main') %>
    <div id="content" class="p-4 p-md-5 pt-5" style="margin-left: 70px; background-color: #E5E5E5;">
        <p>Cars > <%= title%> </p>
        <div class="d-flex justify-content-between">
            <h2 class="mb-4"><%= title %> </h2>
            <a href="/form" class="btn btn-primary" style="height: 39px;">+ Add New Car</a>
        </div>
        <div>
            <button class="btn btn-outline-primary mr-2">ALL</button>
            <button class="btn btn-outline-primary mr-2">SMALL</button>
            <button class="btn btn-outline-primary mr-2">MEDIUM</button>
            <button class="btn btn-outline-primary ">LARGE</button>
        </div>
        <br>
        <div class="row" id="list-cars">
            <%- include('templates/scripts-list') %>        
        </div>
    </div>

</div>

<%- include('templates/footer') %>