<input type="hidden" value="<%= hasCar %>" id="hascar">
<div class="height-100">

  <div class="card m-3 ">
    <div class="card-body">
      <div class="form">
        <form>
          <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label">Nama</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="name" placeholder="Nama" required="" value="<%= name %>" style="border: 1px solid #ced4da;">
            </div>
          </div>
          <div class="form-group row">
            <label for="price" class="col-sm-4 col-form-label">Sewa Per hari</label>
            <div class="col-sm-8">
              
              <input type="number" class="form-control" id="price" placeholder="Sewa Per Hari" required="" style="border: 1px solid #ced4da;"  
                value="<%= price%>">
            </div>
          </div>
          <div class="form-group row">
            <label for="size" class="col-sm-4 col-form-label" value="<%= size_id%>">Ukuran</label>
            <div class="col-sm-8">
              <select class="form-control" id="size" style="border: 1px solid #ced4da;">
                <option value="1">Small</option>
                <option value="2">Medium</option>
                <option value="3">Large</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="photo" class="col-sm-4 col-form-label">Foto</label>
            <div class="col-sm-8">
              <input type="file" class="form-control" id="photo" required="true" style="border: 1px solid #ced4da;">
              <% if(photo){ %>
                <span style="opacity: 20%;"><i>file sekarang : <%= photo %> </i></span> <br>
                <% } %>
                  <span style="opacity: 20%;"><i>File Max 2Mb</i></span>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-10">
              <a href="/" class="btn btn-outline-primary">Cancel</a> &nbsp;&nbsp;&nbsp;
              <% if(hasCar == true){ %>
                <button type="submit" class="btn btn-success" onclick="updateCar()">update</button>
                <% } else {%>
                  <button type="submit" class="btn btn-primary" onclick="createCar()">Save</button>
              <% } %> 
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>