<nav class="navbar navbar-light bg-white border-bottom">
    <a class="navbar-brand">Binar Car Rental</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2 border" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

    <div class="wrapper d-flex align-items-stretch">
        <div class="backgrounddd"
            style=" text-align:center; height: 100%; width: 70px; position: absolute; z-index: 2; background-color: #0D28A6;">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-outline-primary mt-3">
                    <span class="fa fa-bars"></span>
                </button>
            </div>
        </div>
    
        <nav id="sidebar" style="left:70px; background-color: white;">
    
    
            <ul class="list-unstyled components mb-5">
                <li class="disable">
                    <a href="#" style="color: darkgray;">Cars</a>
                </li>
                <li class="active">
                    <a class="font-weight-bold" href="/" style="color: black; ">List Cars</a>
                </li>
            </ul>
    
        </nav>