<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const api = axios.create({
        baseURL: 'http://localhost:8080'
    })
    let hasCar = document.getElementById('hascar')
    let name = document.getElementById("name")
    let price = document.getElementById("price")
    let size = document.getElementById("size")
    let photo = document.getElementById("photo")
    let uploadedUrl = ""

    function save(e) {
        e.preventDefault()
            alert(hasCar.value)
        if (hasCar.value) {
            updateCar()
        }
        if (hasCar.value == false){
            createCar()
        }
    }
    function createCar() {
        api.post("/api/v1/cars", {
            name: name.value,
            price: price.value,
            size_id: size.value,
            photo: uploadedUrl,
        }).then(() => {
            alert("Data Berhasil Ditambahkan")
            window.location.replace("/")
        }).catch(() => {
            alert("gagal membuat profile")
        })
    }

    function uploadFile(fileData) {
        console.log(fileData)
        let form = new FormData()
        form.append("photo", fileData)
        api.post("/api/v1/car_upload", form, {
            headers: {
                "Content-Type": "multipart/form-data"
            }
        }).then(res => {
            uploadedUrl = res.data.url
        }).catch(err => console.log(err))
    }

    function updateCar() {
        let url = window.location.href
        const strs = url.split('/');
        const id = strs.at(-1)

        api.put("/api/v1/cars/:id", {
            name: name.value,
            price: price.value,
            size_id: size.value,
            photo: uploadedUrl,
            id : id
        }).then(result => {
            alert(result.data)
            window.location.replace("/")
        }).catch(() => {
            alert(`kok bisa Gagal Memperbarui Data`)
        })
    }

    photo.onchange = function (e) {
        uploadFile(e.target.files[0])
    }

</script>