<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const api = axios.create({
    baseURL: "http://localhost:8080",
  })

  let listcars = document.getElementById("list-cars")
  function loadData(data) {
    const car = data
    let listcar = ""

    for (let i in car) {
      listcar +=
        `
        <div class="card p-3 m-3" style="width: 20rem;">
          <img src="/assets/img/${car[i].photo}" height="200" width="290"> 
          <div class="card-body">
              <p>${car[i].name}</p>
              <h5 class="card-title">Rp. ${car[i].price} / hari</h5>
              <p class="update" style="margin-bottom:0pc;">Updated At:</p>
              <p class="card-text"><span class="mr-2"><img src="/assets/img/card-jam.svg" alt=""></span>${car[i].updatedAt}</p> 

              
              <div class="d-flex">
                <a href="" onclick="deleteCar(${car[i].id})" type="button" class="btn btn-outline-danger w-50 mr-3">Delete</a>
                <a href="/form/${car[i].id}" type="button" class="btn btn-success w-50">Edit</a>
              </div>

     
            </div>
        </div>
      
        `
    }
    listcars.innerHTML = listcar;
  }

  function readProfile() {
    api.get("/api/v1/cars")
      .then(result => {
        hasProfile = true
        loadData(result.data)
      }).catch(() => {
        hasProfile = false
      })
  }

  function deleteCar(id) {
    if (confirm(`Apakah yakin ingin menghapus id ${id}`) == true) {
      api.delete(`/api/v1/cars/:${id}`)
    } else {
      api.get("/api/v1/cars")
    }
  }
  readProfile()
</script>